.vscode
.idea
code/build/*.d
code/build/*.o
code/build/*.h
code/build/*.bin
code/build/*.map
#!code/build/soundbank.h
#!code/build/soundbank.bin
#!code/build/soundbank_bin.h
code/include/*.h
out/*.elf
out/*.gba
out/*.sav
